{% extends "_base.html" %}

{% block content %}

<style>
    body,
    html {
        height: 100%;
        margin: 0;
    }

    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }

    .form-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: -150px;
        /* Kutuları biraz yukarı kaydırır */
    }

    .input-group {
        display: flex;
        gap: 20px;
        /* Kutular arasındaki mesafeyi buradan ayarlayabilirsiniz */
    }

    input[type="text"] {
        width: 40px;
        height: 40px;
        text-align: center;
        font-size: 25px;
        /* Yazıyı biraz daha büyük yapar */
    }

    button {
        margin-top: 10px;
        margin-left: 140px;
    }

    .verification-message {
        font-size: 24px;
        /* Yazıyı daha büyük yapar */
        margin-bottom: 20px;
        /* Biraz daha boşluk ekler */
    }
</style>


<div class="container">
    <div class="form-wrapper">
        <p class="verification-message">Verification code has been sent to your email.</p>
        <form method="POST" id="verificationForm">
            <div class="input-group">
                {% for i in range(1, 7) %}
                <input type="text" name="code{{ i }}" maxlength="1" oninput="handleInput(this)">
                {% endfor %}
            </div>
            <button type="submit" value="submit">Check</button>
        </form>
    </div>
</div>





<script>
    const inputs = document.querySelectorAll('#verificationForm input');

    function handleInput(input) {
        const index = Array.from(inputs).indexOf(input);

        if (input.value.length === 1 && index < inputs.length - 1) {
            inputs[index + 1].focus();
        } else if (input.value.length === 0 && index > 0) {
            inputs[index - 1].focus();
        } else if (input.value.length === 0 && index === 0) {
            // Başlangıç kutusu boş ise hiçbir yere gitme
            input.focus();
        }
    }
</script>

{% endblock content %}