{% extends "_base.html" %}

{% block content %}

<form method="POST" class="row g-5 needs-validation" novalidate>
    <div class="col-md-2">
        <label for="coord_name" class="form-label">CoordName:</label>
        <input type="text" name="coord_name" class="form-control" required>
    </div>
    <div class="col-md-2">
        <label for="coord_x" class="form-label">CoordX:</label>
        <input type="text" name="coord_x" class="form-control" required>
    </div>
    <div class=" col-md-2">
        <label for="coord_y" class="form-label">CoordY:</label>
        <input type="text" name="coord_y" class="form-control" required>
    </div>
    <div class=" col-md-2">
        <label for=" coord_z" class="form-label">CoordZ:</label>
        <input type="text" name="coord_z" class="form-control" required>
    </div>
    <div class=" col-md-3">
        <label for="validationCustom02" class="form-label">Send Coordinates</label>
        <div class="col-12">
            <button type=" submit" value="submit" name="validationCustom02" class="btn btn-primary"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Send</button>
        </div>
    </div>
</form>

<div class="entries">
    <h2>Coordinates</h2>
    <div class="datagrid">
        <table class="table table-bordered border-primary">
            <thead>
                <tr>
                    <th>Coordinates Name<strong></strong></th>
                    <th><strong>Coordinates</strong></th>
                    <th><strong>Posted By</strong></th>
                    <th><strong>Actions</strong></th>
                </tr>
            </thead>
            {% for coord in coords %}
            <tr>
                <td>{{ coord.coord_name }}</td>
                <td>{{ coord.coord_x, coord.coord_y, coord.coord_z }}</td>
                <td>{{ coord.user.username }}</td>
                <td>
                    {% if coord.user.user_id == session.user_id %}
                    <a href="{{ url_for('minecraft.delete_coord', coord_id = coord.coord_id) }}">Delete</a>
                    {% else %}
                    <span>N/A</span>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>


{% endblock %}