{% extends "_base.html" %}

{% block content %}


<div class="container md-8 border border-dark mt-3 p-5">
    <form method="POST">
        <h2 style="text-align: center;">Login In</h2>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Username</label>
            <input type="text" name="username" class="form-control" id="exampleInputEmail1"
                aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input type="password" name="password" class="form-control" id="exampleInputPassword1">
        </div>
        <button type="submit" value="submit" class="btn btn-primary">Submit</button>
    </form>
    <br>
    <div id="emailHelp" style="text-align: center;" class=" col-md-6 m-auto">Don't Have an Account Create a New Account
        Quickly.</div>
    <a class="nav-link col-md-2 bg-success p-2 m-auto" style="color: white;" style="text-align: center;"
        href="/register">Register</a>
</div>

<!-- {% if TESTING %}
<p>test_login_page</p>
{% endif %} -->

{% endblock %}